<% include ../templates/headTemp.ejs %>
<% include ../templates/navigationTemp.html %>

<script language="javascript" type="text/javascript" src="/javascripts/angularApps/profilePageManager.js"></script>

<link rel="stylesheet" href='/stylesheets/profilePage.css'>

<div ng-app="profilePageManager">
    <div ng-controller="profilePageManager">

        <h1>User Profile</h1>

        <div id="profileDiv" align = 'left'>
            <u><h1> Welcome <b><%= user.username %></b></h1></u>
            <% if(user.role == 'administrator'){%>
            <a href="/apiHome">Administrator Settings</a>
            <%}%>
            <h2><a href="/userProfile/signout" class="text-center new-account">Signout</a></h2>
        </div>

        <div>
            <h2>Your Fantasy Teams</h2>
            <div class="fantasyTeamHolder" ng-repeat="team in userTeams">
                <h3>{{ team.team_name}}</h3>
                <p>{{ team._id}}</p>
                <button class="btn-medium" ng-click="viewRoster(userTeams.indexOf(team))">View Team Roster</button>
            </div>
        </div>

        <div ng-hide="hideFantasyRoster">
            <h1>Team: <b>{{selectedTeam.team_name}}</b> Roster</h1>
            <div ng-repeat="player in selectedRoster" class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <img class="playerImg" ng-src="/images/profilePics/{{ player.player_first_name }} {{ player.player_last_name }}.png">
                <h3>{{ player.player_first_name }} {{ player.player_last_name }}</h3>
                <p>{{player.player_position}}</p>
            </div>
        </div>
    </div>
</div>