<% include ../templates/headTemp.ejs %>
<% include ../templates/navigationTemp.html %>

<script language="javascript" type="text/javascript" src="/javascripts/angularApps/profilePageManager.js"></script>

<link rel="stylesheet" href='/stylesheets/profilePage.css'>

<div id="profilePage" ng-app="profilePageManager">
    <div ng-controller="profilePageManager">
        <md-card>
            <md-card-content>
                <div id="profileDiv">
                    <u><h1> Welcome <b><%= user.username %></b></h1></u>
                    <% if(user.role=='administrator' ){%>
                    <a href="/apiHome">Administrator Settings</a>
                    <%}%>
                    <h2><a href="/userProfile/signout" class="text-center new-account">Signout</a></h2>
                </div>
            </md-card-content>
        </md-card>

        <md-content>
            <md-tabs md-dynamic-height md-border-bottom>

                <md-tab label="Favourite Players">
                    <md-content class="md-padding">
                        <md-card class="fantasyPlayerHolder col-lg-5 col-md-5 col-sm-5 col-xs-5" ng-repeat="player in userPlayers">
                            <md-card-title>
                                <md-card-title-text>
                                    <span class="md-headline">{{ player.player_first_name}} {{ player.player_last_name}}</span>
                                </md-card-title-text>
                            </md-card-title>
                            <img class="md-card-image cardProfile" ng-src="/images/profilePics/{{ player.player_first_name }} {{ player.player_last_name }}.png">
                            <md-card-actions>
                                <md-button ng-click="viewRoster(userTeams.indexOf(team))">View Player Stats</md-button>
                            </md-card-actions>
                        </md-card>
                    </md-content>
                </md-tab>

                <md-tab label="Saved Teams" >
                    <md-content>
                        <div id="savedTeam">
                            <md-card class="fantasyTeamHolder col-lg-5 col-md-5 col-sm-5 col-xs-5" ng-repeat="team in userTeams">
                                <md-card-title>
                                    <md-card-title-text>
                                        <span class="md-headline">{{ team.team_name}}</span>
                                    </md-card-title-text>
                                </md-card-title>
                                <md-card-actions>
                                    <md-button ng-click="viewRoster(userTeams.indexOf(team))">View Team Roster</md-button>
                                </md-card-actions>
                            </md-card>
                        </div>

                            <!-- Player Cards -->

                        <div ng-hide="hideFantasyRoster" class="row">
                        <div id="dateSelector">
                            <md-card id="fantasyDateFinder" class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                                <div ng-hide="hideWarning">
                                    <p><em>Please select a start / end Date</em></p>
                                </div>

                                <div id='startDate'>
                                    <h1>Start Date</h1>
                                    <md-datepicker md-placeholder="Enter Start date" id='startDate' ng-model="startDate"></md-datepicker>
                                </div>

                                <div id='endDate'>
                                    <h1>End Date</h1>
                                    <md-datepicker md-placeholder="Enter End date" id='endDate' ng-model="endDate"></md-datepicker>
                                </div>
                                <md-card-actions layout="column" layout-align="end center">
                                    <md-button ng-click="getStats()" ng-disabled="disableBuildBtn">
                                        Build Fantasy Team
                                    </md-button>
                                    <md-button ng-click="dblStats()" ng-disabled="disableStatsBtn">
                                        Get Stats
                                    </md-button>
                                </md-card-actions>
                            </md-card>
                        </div>

                                <h1>Team: <b>{{selectedTeam.team_name}}</b> Roster</h1>
                                <div class="playerCard">
                                    <md-card ng-repeat="player in selectedRoster" class="col-lg-2 col-md-3 col-sm-4 col-xs-12 ">
                                        <img class="md-card-image" ng-src="/images/profilePics/{{ player.player_first_name }} {{ player.player_last_name }}.png">
                                        <md-card-header-text>
                                            <span class="md-title">{{ player.player_first_name }} {{ player.player_last_name }}</span>
                                            <!--<span class="md-subhead">{{player.player_position}}</span>-->
                                        </md-card-header-text>
                                    </md-card>
                                </div>

                                <div id="fantasyTeamResults" ng-hide="hideResults">
                                    <% include ../templates/fantasyTeamResults.html %>
                                </div>
                            </div>
                    </md-content>
                </md-tab>

            </md-tabs>
        </md-content>

    </div>
</div>

