<% include templates/head.ejs %>

<link rel="stylesheet" href='/stylesheets/splashPage.css'>
<!-- Tubular -->
<script language="javascript" type="text/javascript" src="/javascripts/tubular/jquery.tubular.1.0.js"></script>

<div id="videoBackground">

        <a href="/choicePage" ><div id="videoCover"></div></a>
</div>