


<div class="row" id="fantasySelectDiv">
    <!-- form for step 1: choose team -->

    <md-input-container>
        <md-select ng-model="selectedTeam" placeholder="Select a team">
            <md-option ng-repeat="team in currentTeams | orderBy: 'team_name'" ng-click="selectTeamFunction(currentTeams.indexOf(team))">{{team.team_name}}</md-option>
        </md-select>
    </md-input-container>

    <md-input-container ng-hide="hidePlayerSelection">
        <md-select ng-model="selectedPlayer" placeholder="Select a player">
            <md-option ng-repeat="player in allowedPlayers | orderBy: 'player_first_name'" ng-click="assignPlayer(player)">{{player.player_first_name}} {{player.player_last_name}}</md-option>
        </md-select>
    </md-input-container>

            <md-button class="md-raised" ng-click="addPlayer()" id="addFantasyPlayerBtn" ng-hide="hideAddPlayerBtn"> Add Player to Fantasy Team</md-button>

</div>