<head>
    <title></title>


    <!-- jquery link -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

    <!-- jquery UI -->
    <script language="JavaScript" type="text/javascript" src="/javascripts/jquery_UI/jquery-ui.js"></script>
    <script language="JavaScript" type="text/javascript" src="/javascripts/jquery_UI/jquery-ui.min.js"></script>


    <!--animation javascript file -->
    <script language="JavaScript" type="text/javascript" src="/javascripts/AnimationController/animationController.js"></script>
    <!-- <script language="JavaScript" type="text/javascript" src="/javascripts/AnimationController/fantasyAnimationController.js"></script> -->




    <!-- Google Charts -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {packages: ['corechart']});
        google.charts.setOnLoadCallback(drawChart);
    </script>


    <!-- bootstrap links -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>


    <!-- Basic Style Sheet -->
     <link rel="stylesheet" href='/stylesheets/style.css'>

    <!-- Quatrocento Sans Font -->
    <link href='https://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700' rel='stylesheet' type='text/css'>

    <!-- AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>

    <!-- Tubular -->
    <script language="javascript" type="text/javascript" src="/javascripts/tubular/jquery.tubular.1.0.js"></script>

    <!-- Google Font -->
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>


</head>
<body>

</body>
</html>