<% include ../../templates/headTemp.ejs %>
<% include ../../templates/navigationTemp.html %>

<!-- Read Teams API engine -->
<script language="javascript" type="text/javascript" src="/javascripts/angularApps/readTeams.js"></script>

<h1>List of Created Teams</h1>
<div ng-app="readTeamsEngine">
    <div ng-controller="readTeamsController">

        <div ng-repeat="team in currentTeams | orderBy: 'team_name'">
            <h2>{{ team.team_name }}</h1>
        </div>

    </div>

<a href="/teamform"> Back to TEAM CRUD PAGE</a>
</div>