<% include ../../templates/headTemp.ejs %>
<% include ../../templates/navigationTemp.html %>
<% include ../../templates/adminNav.ejs %>

<a href ='/createTeam'><div id="CreateTeam" class="CRUDDiv col-lg-6 col-md-6 col-sm-12 col-xs-12"> <h1> Create Team </h1></div></a>
<a href ='/readTeams'><div id="ReadTeams" class="CRUDDiv col-lg-6 col-md-6 col-sm-12 col-xs-12"><h1> Read Team </h1></div></a>
<a href ='/updateTeam'><div id="UpdateTeam" class="CRUDDiv col-lg-6 col-md-6 col-sm-12 col-xs-12"> <h1>Update Team </h1></div></a>
<a href ='/deleteTeam'><div id="DeleteTeam" class="CRUDDiv col-lg-6 col-md-6 col-sm-12 col-xs-12"> <h1>Delete Team</h1> </div></a>