<% include ../../templates/headTemp.ejs %>
<% include ../../templates/navigationTemp.html %>

<!-- Read Players API engine -->
<script language="javascript" type="text/javascript" src="/javascripts/angularApps/readPlayers.js"></script>


<div ng-app="readPlayersEngine">
    <h1>List of Created Players</h1>
    <div ng-controller="readPlayersController">

	    <div id="formOneContainer">
            <form role="form" id="step1a" name="myForm3">
                <div class="form-group">
                    <div class="row"><label>Select team (select one):</label></div>
                    <select size="9"  id="selectedTeamA" class="form-group">
                        <option ng-repeat="team in currentTeams | orderBy: 'team_name'" value ='{{currentTeams.indexOf(team)}}' ng-click="selectTeamFunction(currentTeams.indexOf(team))">{{team.team_name}}</option>
                    </select>
                </div>
            </form>
        </div>
		
		<h1>Players on {{selectedTeam.team_name}}</h1>
        <div ng-repeat="player in roster">
            <h2>{{ player.player_position }}: {{ player.player_first_name }} {{ player.player_last_name }} ({{ player.player_status }})</h2>
        </div>

    </div>

<a href="/playerForm"> Back to Player CRUD PAGE</a>
</div>