<% include ../../templates/headTemp.ejs %>
<% include ../../templates/navigationTemp.html %>

<!-- Update Player API engine -->
<script language="javascript" type="text/javascript" src="/javascripts/angularApps/updateTeam.js"></script>
<a href="/playerForm"> Back to Player CRUD PAGE</a>

<div id="createTeam" ng-app="updatePlayerEngine">
    <div ng-controller="updatePlayerController">

        <div id="formOneContainer" class="col-md-6 col-sm-6 col-xs-6">
            <form role="form" id="step1a" name="myForm3">
                <div class="form-group">
                    <div class="row"><label>Select team (select one):</label></div>
                    <select size="9"  id="selectedTeamA" class="form-group">
                        <option ng-repeat="team in currentTeams | orderBy: 'team_name'" value ='{{currentTeams.indexOf(team)}}' ng-click="selectTeamFunction(currentTeams.indexOf(team))">{{team.team_name}}</option>
                    </select>
                </div>
            </form>
        </div>

        <div id="formOneContainer" class="col-md-6 col-sm-6 col-xs-6">
            <form role="form" id="step1a" name="myForm3">
                <div class="form-group">
                    <div class="row"><label>Select player (select one):</label></div>
                    <select size="9"  id="selectedTeamA" class="form-group">
                        <option ng-repeat="player in roster | orderBy: 'player_last_name'" value ='{{roster.indexOf(player)}}' ng-click="selectPlayerFunction(roster.indexOf(player))">{{player.player_first_name}} {{player.player_last_name}}</option>
                    </select>
                </div>
            </form>
        </div>

        <div id="formOneContainer" class="col-md-6 col-sm-6 col-xs-6">
            <form role="form" id="step1a" name="myForm3">
                <div class="form-group">
                    <div class="row"><label>Trade to:</label></div>
                    <select size="9"  id="selectedTeamA" class="form-group">
                        <option ng-repeat="newTeam in currentTeams | orderBy: 'team_name'" value ='{{currentTeams.indexOf(team)}}' ng-click="destinationTeamFunction(currentTeams.indexOf(newTeam))">{{newTeam.team_name}}</option>
                    </select>
                </div>
				<button ng-click='tradePlayer()'>Trade Player to: {{newTeam.team_name}}</button>
            </form>
        </div>
		
		
    </div>
</div>

<!-- Create Player API engine -->
<script language="javascript" type="text/javascript" src="/javascripts/angularApps/updatePlayer.js"></script>