<% include ../../templates/headTemp.ejs %>
<% include ../../templates/navigationTemp.html %>



<!-- Create Player -->
<script language="javascript" type="text/javascript" src="/javascripts/angularApps/createGame.js"></script>

<div id="createTeam" ng-app="createGameEngine">
    <div ng-controller="createGameController">
        <a href="/gameform"> Back to Game CRUD PAGE</a>
        <br>
        <br>
        <div id='DateContainer'>
            <h2>Game Date: </h2>
            <md-datepicker type="date" ng-model="tempDate"></md-datepicker>
        </div>
        <br>
        <br>
        <md-input-container>
            <select ng-model="selectedTeam" placeholder="Select a team" ng-click="selectTeamFunction(currentTeams.indexOf(team))">
                <option ng-repeat="team in currentTeams | orderBy: 'team_name'" ng-click="selectTeamFunction(currentTeams.indexOf(team))">{{team.team_name}}</option>
            </select>
        </md-input-container>
        <md-input-container ng-show='showPlayers'>
            <select ng-model="selectedPlayer" placeholder="Select a player">
                <option ng-repeat="player in roster | orderBy: 'player_last_name'" ng-click="selectPlayerFunction(roster.indexOf(player))">{{player.player_first_name}} {{player.player_last_name}}</option>
            </select>
        </md-input-container>
        <!---->

        <md-input-container class="md-block" id='CSVContainer' ng-show='player.player_first_name'>
            <textarea id="CSVArea" ng-model="inputCSV" ng-change='CSVChop()'></textarea>
            <br>
            <br>
            <md-button ng-click="multipleCSV()">MultiCSV</md-button>
        </md-input-container>

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id='formContainer' ng-hide='!matchValue'>
            <form id="gameEntryForm">
                <button ng-click="createGame()">Create Game</button>
                <br>

                <b><h1 ng-hide = 'matchValue'>CSV does not match Selected Player</h1></b>
                <h2>Player from CSV: </h2>
                <input type="text" ng-model="game.player_Name">

                <h2>Minutes Played: </h2>
                <input type="text" ng-model="game.minutes_played">
                <h2>Field Goals Made: </h2>
                <input type="text" ng-model="game.FGM">
                <h2>Field Goals Attempted: </h2>
                <input type="text" ng-model="game.FGA">
                <h2>Threes Made: </h2>
                <input type="text" ng-model="game.threes_made">
                <h2>Threes Attempted: </h2>
                <input type="text" ng-model="game.threes_attempted">
                <h2>Freethrows Made: </h2>
                <input type="text" ng-model="game.FTM">
                <h2>Freethrows Attempted: </h2>
                <input type="text" ng-model="game.FTA">
                <h2>Offensive Rebounds: </h2>
                <input type="text" ng-model="game.ORB">
                <h2>Defensive Rebounds: </h2>
                <input type="text" ng-model="game.DRB">
                <h2>Assists: </h2>
                <input type="text" ng-model="game.AST">
                <h2>Steals: </h2>
                <input type="text" ng-model="game.STL">
                <h2>Blocks: </h2>
                <input type="text" ng-model="game.BLK">
                <h2>Turnovers: </h2>
                <input type="text" ng-model="game.TOV">
                <h2>Fouls: </h2>
                <input type="text" ng-model="game.Fouls">
                <h2>Points: </h2>
                <input type="text" ng-model="game.PTS">
                <h2>Plus-Minus: </h2>
                <input type="text" ng-model="game.plusMinus">

                <br>
                <button ng-click="createGame()">Create Game</button>
                <br>
                <a href="/gameform"> Back to Game CRUD PAGE</a>
            </form>
        </div>
    </div>
</div>

<!-- Create Player API engine -->
<script language="javascript" type="text/javascript" src="/javascripts/angularApps/createGame.js"></script>