<% include ../../templates/headTemp.ejs %>
<% include ../../templates/navigationTemp.html %>


<!-- delete Player -->
<script language="javascript" type="text/javascript" src="/javascripts/angularApps/deleteGame.js"></script>
<div id="deleteTeam" ng-app="deleteGameEngine">
    <div ng-controller="deleteGameController">

        <md-input-container>
            <md-select ng-model="selectedTeam" placeholder="Select a team">
                <md-option ng-repeat="team in currentTeams | orderBy: 'team_name'" ng-click="selectTeamFunction(currentTeams.indexOf(team))">{{team.team_name}}</md-option>
            </md-select>
        </md-input-container>

        <md-input-container ng-show='roster'>
            <md-select ng-model="selectedPlayer" placeholder="Select a player">
                <md-option ng-repeat="player in roster | orderBy: 'player_last_name'" ng-click="selectPlayerFunction(roster.indexOf(player))">{{player.player_first_name}} {{player.player_last_name}}</md-option>
            </md-select>
        </md-input-container>


        <md-input-container>
            <label>Select Game (select one):</label>
            <md-select ng-model="rrr" placeholder="Select game">
                <md-option ng-repeat="game in gamesPlayed | orderBy: 'game_Date'" ng-click="selectGameFunction(gamesPlayed.indexOf(game))">{{game.game_Date}}</md-option>
            </md-select>
        </md-input-container>


        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

            <h2>Game Date: </h2>
            <md-datepicker ng-model="gameToDelete.game_Date"></md-datepicker>

            <md-input-container id="gameEntryForm">
                <h2>Player: </h2>
                <input type="text" ng-model="gameToDelete.player_Name">
            </md-input-container>
            <br>
            <md-button ng-click="deleteGame()">delete Game</md-button>
            <br>
            <a href="/gameform"> Back to Game CRUD PAGE</a>
        </div>
    </div>
</div>

<!-- delete Player API engine -->
<script language="javascript" type="text/javascript" src="/javascripts/angularApps/deleteGame.js"></script>