/*Setting Size for default/pic of fantasy position*/
.fantasyPosImg{
    max-height: 100%;
    max-width: 100%;
}

#fantasySelectPartial{
    height: 40%;
    width: 100%;
}

#fantasySelectDiv{
    background-color: #17B287;
    height: 100%;
    width: 100%;
}
#fantasyTeam{
    height: 100%;
    width: 100%;
}

.selectedFantasyPos{
    background-color: #17B287;
}

#profileDiv{
padding-left: 10%;
}

#startingFiveContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#benchContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
#fantasyDateFinder{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-grow: 1;
}
.fantasyPosImg{
    /*max-width: 20%;*/
}
#fantasyDateFinder{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

#mainContainer{
    display: flex;
    flex-direction: row;
    
}



