/*-----------Select Team Section--------------*/
/*Holds All team logos*/
#teamLogos{
    height: 60%;
    padding: 1%;
}

/*Holds individual images*/
.teamLogoHolder{
    -webkit-box-shadow: 6px 1.5px 12px 0px rgba(209,207,209,1);
    -moz-box-shadow: 6px 1.5px 12px 0px rgba(209,207,209,1);
    box-shadow: 6px 1.5px 12px 0px rgba(209,207,209,1);
    height: 40%;
    padding: 3%;
    margin: 1%;
    background-color: white;
    border-radius: 50%;

}
.teamLogoHolder:hover{
    padding: 2.5%;

}

.teamLogoHolder:active{
    background-color: #17B287;
}
/* individual img tag*/
.logoImg {
    max-height: 100%;
    max-width: 100%;


    /*Center Image*/
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.logoImg:hover{
    border-radius: 50%;
    opacity: 0.7;
}





/*--------- Select Player Section-------------------*/
/*Holds All selected Team roster*/
#teamRoster{
    height: 150%;
    width: 100%;

}

/*Holds individual images*/
.teamRosterHolder{
    float: left;
    height: 25%;
    width: 18%;
    margin: 2%;
    background-color: white;
    border-radius: 0% 0% 5%;
    padding: 1%;

}

/* individual img tag*/
.playerImg {
    max-height: 100%;
    max-width: 100%;

    display: block;
    margin-left: auto;
    margin-right: auto;

    position: relative;
    top: 50%;
    transform: translateY(-50%);


}
.basicInfo {
    max-height: 100%;
    max-width: 100%;

    display: block;
    margin-left: auto;
    margin-right: auto;
}

.playerinfoHolder{

    max-width: 100%;
    height: 30%;
    text-align: left;
    font-size: 1.8vh;
    margin: 0;
    padding: 0;

}
.playerInfo{
    width: 60%;
    margin: 0;
    float: left;
}
.playerTeamLogo{
    max-height: 100%;
    max-width: 40%;
    margin: 0;
    float: right;

}

.playerprofileHolder{
    margin: 0;
    max-width: 100%;
    height: 70%;
    text-align: left;
    background: white;
    padding: 0;
}

#personalView
{
    background-color: white;
}