<% include ../templates/headTemp.ejs %>
<% include ../templates/navigationTemp.html %>

<link rel="stylesheet" href='/stylesheets/choicePage.css'>

<div id="choicePageContainer">
    <div id="choiceMenu">
        <a href="/fantasyTeam" style="color: white"><div id="fantasyTeamImg" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
           <div class="divOverImage"> <h1 style=" line-height: 100%; font-size: 15vh">Build<br />Fantasy Team </h1> </div>
        </div></a>

        <a href="/playerStat" style="color: white"><div id="statCheck" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="divOverImage"> <h1 style=" line-height: 100%; font-size: 15vh">Stat<br />Check</h1> </div>
        </div></a>
    </div>
</div>
<!---->
<div class="fantasyPosHolder col-xs-12 col-sm-6 col-md-3 col-lg-2" id="pointGuard" >
    <md-card class="teamCard"  md-ink-ripple>
        <md-card-header-text>
            <span class="md-title"><h2>Point Guard <br>(PG)</h2></span>
        </md-card-header-text>
        <br>
        <img class="fantasyPosImg" ng-src="/images/{{ pointGuardImg }}.png">
        <p>{{fantasyRoster[0].player_first_name}} {{fantasyRoster[0].player_last_name}}</p>
        <p>{{fantasyRoster[0].player_position}}</p>

        <md-card-actions layout="column" layout-align="end center">
            <md-button ng-click="selectPosition(0)">
                Add
            </md-button>
            <md-button ng-click="removePlayer(0)">
                Delete
            </md-button>
        </md-card-actions>
    </md-card>
</div>
<!---->
    <div class="row">
        <p>Fantasy App Tracker</p>
    </div>
    <div class="row">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- Bottom Add -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-7625328914292919"
             data-ad-slot="2711335985"
             data-ad-format="auto"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
