<% include ../templates/head.ejs %>
        <link rel="stylesheet" href='/stylesheets/choicePage.css'>
        <div>
                <md-tabs md-dynamic-height md-border-bottom>
                    <md-tab label="Check Player Stats">
                            <a href="/playerStat" style="color: white">
                                <div id="statCheck">
                                    <div class="divOverImage">
                                        <h1 style=" line-height: 100%; font-size: 15vh">Stat<br />Check</h1>
                                        <md-button >Begin Now</md-button>
                                    </div>
                                </div>
                            </a>
                    </md-tab>
                </md-tabs>
        </div>
        <% include ../templates/javascriptFiles.ejs %>
<% include ../templates/footer.ejs %>



