<% include ../templates/headTemp.ejs %>


<!-- Choice Page Engine -->
<script language="javascript" type="text/javascript" src="/javascripts/angularApps/choicePage.js"></script>

<link rel="stylesheet" href='/stylesheets/choicePage.css'>
<div ng-app="choiceApp">

    <div id="choicePageContainer" ng-controller="choiceController">
        <md-tabs md-dynamic-height md-border-bottom>
            <!--
            <md-tab label="Build Your fantasy team">
                    <a href="/fantasyTeam" style="color: white">
                        <div id="fantasyTeamImg">
                            <div class="divOverImage"> <h1 style=" line-height: 100%; font-size: 15vh">Build<br />Fantasy <br>Team</h1> </div>
                        </div>
                    </a>
            </md-tab>
            -->

            <md-tab label="Check Player Stats">
                    <a href="/playerStat" style="color: white">
                        <div id="statCheck">
                            <div class="divOverImage">
                                <h1 style=" line-height: 100%; font-size: 15vh">Stat<br />Check</h1>
                            </div>
                        </div>
                    </a>
            </md-tab>
            <!--
            <md-tab label="User Profile">
                <a href="/userProfile/home" style="color: white">
                    <div id="userProfile">
                        <div class="divOverImage">
                            <h1 style=" line-height: 100%; font-size: 15vh">Sign<br />In</h1>
                        </div>
                    </div>
                </a>
            </md-tab>
            -->

        </md-tabs>
    </div>

</div>

