<% include ../templates/headTemp.ejs %>
<% include ../templates/navigationTemp.html %>

<link rel="stylesheet" href='/stylesheets/choicePage.css'>

<div id="choicePageContainer">
    <div id="choiceMenu">
        <a href="/fantasyTeam" style="color: white"><div id="fantasyTeamImg" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
           <div class="divOverImage"> <h1 style=" line-height: 100%; font-size: 15vh">Build<br />Fantasy Team </h1> </div>
        </div></a>

        <a href="/playerStat" style="color: white"><div id="statCheck" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="divOverImage"> <h1 style=" line-height: 100%; font-size: 15vh">Stat<br />Check</h1> </div>
        </div></a>
    </div>
</div>

    <div class="row">
        <p>Fantasy App Tracker</p>
    </div>
    <div class="row">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- Bottom Add -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-7625328914292919"
             data-ad-slot="2711335985"
             data-ad-format="auto"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
