<% include ../templates/head.ejs %>
<% include ../templates/javascriptFiles.ejs %>
<% include ../templates/navigationTemp.html %>

<link rel="stylesheet" href='/stylesheets/playerStat.css'>

<div class="appContainer" ng-controller ="StatCtrl">

    <div  id="controllerHolder">



        <h1  class="row demo1" id="decisionTitle" ng-hide="hideTeams">Choose Team:</h1>
        <!-- team logos -->

        <div id="teamLogos" ng-hide="hideTeams">
                <div class="teamLogoHolder col-lg-3 col-md-3 col-sm-6 col-xs-12" ng-repeat="team in currentTeams | orderBy: 'team_name' " ng-click="selectTeamFunction(currentTeams.indexOf(team))">
                    <md-card class="teamCard"  md-ink-ripple>
                        <md-card-header-text>
                            <span class="md-title">{{ team.team_name}}</span>
                        </md-card-header-text>
                        <br>
                        <img class = "logoImg" ng-src="/images/logos/{{ team.team_name }}.png"  >
                    </md-card>
                </div>
        </div>



        <!-- Roster Profile -->
        <md-button class="md-raised" ng-click="backToTeams()">Back to Teams</md-button>
        <br>
        <h1  class="row" id="decisionTitle" ng-hide="hideRoster">Choose Player:</h1>
        <div ng-controller ="PlayerCtrl" id="teamRoster" ng-hide="hideRoster" ng-style="{'background-color': selectedTeam.teamPrimaryColour}">

            <div id="playerContainer" class="teamRosterHolder" ng-repeat="player in roster | orderBy: 'player_last_name'" ng-style="{'background-color': selectedTeam.teamSecondaryColour}">
                <md-card class="playerCard">
                    <md-card-header>
                        <md-card-avatar>
                            <img class ="md-media-sm" ng-src="/images/logos/{{ selectedTeam.team_name }}.png">
                        </md-card-avatar>
                        <md-card-header-text>
                            <span class="md-title">{{ player.player_first_name }} {{ player.player_last_name }}</span>
                            <span class="md-subhead">{{player.player_number}} || {{player.player_position}}</span>
                        </md-card-header-text>
                    </md-card-header>
                    <img class="md-card-image cardProfile" ng-src="/images/profilePics/{{ player.player_first_name }} {{ player.player_last_name }}.png">
                        <p><b>Birth Date:</b> {{ player.player_birthDate | date : 'fullDate'}}</p>
                        <p><b>Height(inches):</b> {{getHeight(roster.indexOf(player))}}</p>
                        <p><b>Draft Year:</b> {{ getDraftYear(roster.indexOf(player)) }}</p>
                        <p><b>Player Status:</b> {{ getPlayerStatus(roster.indexOf(player)) }}</p>
                        <md-button class="md-raised" ng-click="directResults(roster.indexOf(player))">Get Season Stats</md-button>
                            <br>
                        <md-button class="md-raised" ng-click="savePlayer(player)">Save Player</md-button>
                </md-card >
            </div>
        </div>


        <md-progress-linear md-mode="indeterminate" ng-hide="hideResultsLoading"></md-progress-linear>
        <div name="results" ng-hide="hideResults" ng-style="{'background-color': selectedTeam.teamPrimaryColour}">
            <% include ../templates/currentSeasonStats.html %>
        </div>
    </div>
</div>




