<% include ../templates/headTemp.ejs %>
<% include ../templates/navigationTemp.html %>

<!-- Player Stat Angular App -->
<script language="javascript" type="text/javascript" src="/javascripts/angularApps/playerStatApp.js"></script>


<div ng-app = 'playerStatApp' class="appContainer">
    <div ng-controller ='playerStatCtrl' id="controllerHolder">
        <h1  class="row demo1" id="decisionTitle" >Choose Team:</h1>
        <!-- team logos -->

        <div id="teamLogos">
            <a href="#roster">
                <div  class="teamLogoHolder col-xs-6 col-sm-4 col-md-3 col-lg-2" ng-repeat="team in currentTeams | orderBy: 'team_name' " ng-click="selectTeamFunction(currentTeams.indexOf(team))">
                   <img class = "logoImg" ng-src="/images/logos/{{ team.team_name }}.png"  >
                </div>
            </a>
        </div>


        <div class="row"><h1></h1></div>
        <div class="row"><h1></h1></div>
        <div class="row" id="insertNodeOne"><h1></h1></div>

        <!-- Roster Profile -->

        <a id="roster">
        <div id="teamRoster" ng-style="{'background-color':teamPrimaryColour}" >
            <h1  class="row" ng-style="{'color':teamSecondaryColour}" id="decisionTitle">Choose Player:</h1>
            <a href="#playerStats">
                <div class="teamRosterHolder col-xs-6 col-sm-6 col-md-3 col-lg-3" ng-repeat="player in roster | orderBy: 'player_last_name'" ng-click="selectPlayerFunction(roster.indexOf(player))">
                    <div class="playerprofileHolder" >
                        <img class = "playerImg" ng-src="/images/profilePics/{{ player.player_first_name }} {{ player.player_last_name }}.png">
                    </div>
                    <div class="playerinfoHolder">
                        <p class="playerInfo">{{ player.player_first_name }} {{ player.player_last_name }} <br/> {{player.player_number}} <br /> {{player.player_position}}</p>
                        <img class ="playerTeamLogo" ng-src="/images/logos/{{ selectedTeam.team_name }}.png">
                    </div>
                </div>
            </a>

        </div>
        </a>


        <div class="row"><h1></h1></div>
        <div class="row"><h1></h1></div>
        <div class="row" id="insertNodeTwo"><h1></h1></div>

        <a name="playerStats">
            <div id="personalView">

                    <table id="personalTable" class="table">
                        <tbody>
                        <tr>
                            <td rowspan="4">
                                <img id="profilePic" ng-src="/images/profilePics/{{ player.player_first_name }} {{ player.player_last_name }}.png">
                            </td>
                            <td>
                                <h3><b>Player Name:</b> {{ player.player_first_name }} {{ player.player_last_name }}</h3>
                            </td>
                            <td>
                                <h3><b>Birth Date:</b> {{ player.player_birthDate | date : 'fullDate'}}</h3>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h3><b>Current Team:</b> {{ selectedTeam.team_name }}</h3>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h3><b>Player Position:</b> {{ player.player_position}}</h3>
                            </td>
                            <td>
                                <h3><b>Height(inches):</b> {{ player.player_height}}</h3>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h3><b>Draft Year:</b> {{ player.player_draft }}</h3>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                <button type="button" class="btn btn-primary btn-block" ng-click="displayResults()">Get Season Stats</button>

            </div>
        </a>

        <div class="row"><h1></h1></div>
        <div class="row"><h1></h1></div>

        <a name="results" ng-hide="hideResults">
            <% include ../templates/currentSeasonStats.html %>
        </a>




    </div>
</div>